
<div>
  <h2>Exercises</h2>
</div><br/>

<table>
  <th>
    <td><h2>Exercises: </h2></td>
  </th>
  <tr ng-repeat="exercise in exercises">
    <td><a ng-href="#/exercises/{{exercise.title}}">{{exercise.title}} </a></td>
    <td> Last Weight: </td>
  </tr>
 <!--  <a ng-click="deleteEx(exercise)">Remove</a> -->
</table><br/>

<form ng-submit="addEx()">
  <input type="text" ng-model="exercise.title" placeholder="Add new Exercise"/> <br/>
  <input type="submit" value="Add Exercise" />
</form><br/>

<pre>
Exercises: {{exercises}} <br/>
Exercise: {{exercise}}
</pre>

