
<div>
  <h2>Exercises</h2>
</div><br/>

<table class="table">
  <tr ng-repeat="exercise in exercises">
    <td> <a class="exList" ng-href="#/exercises/{{exercise.title}}">{{exercise.title}} </a></td>
    <!-- <td> Last Weight: {{instances[0].weight}}</td> -->
    <td class="exList"><a ng-click="deleteEx(exercise)">Remove</a></td>
  </tr>
</table><br/>


<form ng-submit="addEx()">
  <input type="text" ng-model="exercise.title" placeholder="Add new Exercise"/> <br/>
  <input type="submit" value="Add Exercise" />
</form><br/>

<pre>
Exercises: {{exercises}} <br/>
Exercise: {{exercise}} <br/>
Instances: {{instances.bench}}
</pre>
