<div>
  <h2>{{ exercise.$id }}</h2>
</div> <br/>

<h4>Add Workout</h4>

<form name="instanceForm" ng-submit="instanceForm.$valid && addInstance()" novalidate>
  <input type='text' ng-model='instanceDate' placeholder='mm/dd/year' required/><span>Required</span><br/>
  <input type='number' min="0" step="2.5" ng-model='instanceWeight' placeholder='Weight' required/><span>Required</span><br/>
  <input type='number' min="0" ng-model='instanceReps' placeholder='Reps' required/><span>Required</span>
  <input type='submit' value='Add New Set'/>
  <div> Instance is {{instanceForm.$valid}}
</form><br/>



<table border=""  class="table">
  <th>
          Date  
    <td>  Weight  </td>
    <td>  Reps  </td>
    <td></td>
  </th>
  <tr ng-repeat="instance in instances">
    
    <td>{{instance.date}}</td>
    <td>{{instance.weight}}</td>
    <td>{{instance.reps}}</td>
    <td ng-click="removeInstance($index)">remove</td>
  </tr>
</table><br/>



<a ng-href='#/exercises'>Back to All</a>
<br/>

<pre>
Exercise: {{exercise}}
Instances: {{instances}}
</pre>